* {
  padding: 0px;
  margin: 0px;
}

body {
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

a:hover {
  color: orange;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  margin: 10px;
}

div#container {
  height: 100%;
}

header {
  display: block;
  background-image: url(logo.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-color: #4c7691;
  border-radius: 5px;
  height: 120px;
  position: relative;
}

div#top {
  vertical-align: bottom;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

div#top ul {
  list-style-type: none;
  display: block;
  color: white;
}

div#top ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

div#top ul li a {
  color: white;
}

div#top ul li a:hover {
  color: orange;
}

div#container {
    width: 1000px;
    margin: 0 auto;
}

aside {
  font-size: 0.9em;
  display: block;
}

aside p {
  margin-top: 2em;
}

article aside ul li {
  margin-top: 0px;
  margin-left: 25px;
}



aside#download {
  float: right;
  background-color: #5f9ea0;
  border-radius: 5px;
  padding: 10px;
  margin-right: -10px;  /* re-align this on the right-hand side */
}

aside#download h1 {
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
}

li.zip {
  list-style-image: url(zipsm.png);
}

li.tar {
  list-style-image: url(tarsm.png);
}

article {
  min-height: 800px;
  padding: 10px;
  display: block;
  font-size: .9em;
}

article p {
  margin-top: 1em;
}

article ul li {
  margin-top: .25em;
  margin-left:  1.5em;
}

article h1 {
  margin-top: 1.5em;
  width: 100%;
  border-bottom: solid thin orange;
}

article h1 a {
  text-decoration: none;
}

article h1 a:hover {
  text-decoration: none;
  color: orange;
}

article h2 {
  margin-top: 1em;
  width: 100%;
  border-bottom: solid thin orange;
}

article h3 {
  margin-top: 1em;
}

/*
 * Footer part of the website (trademarks, privacy, ...)
 */
footer {
  margin-top: 2em;
  vertical-align: bottom;
  background-color: #4c7691;
  border-radius: 5px;
  font-size: .7em;
  text-align: center;
  color: white;
  display: block;
}

footer a {
  color: white;
}

footer a:hover {
  color: orange;
}


/*
 * Some specific styles for the home page
 */
article#homepage {
  font-size: 1em;
}

article#homepage h1 {
  border-bottom: none;
  margin-top: 0em;
}

article#homepage p {
  margin-top: 2em;
}


/*
 * Bottom boxes on the home page
 */
div#boxes {
  display: block;
  margin-top: 10em;
  clear: both;
  font-size: .9em;
  border-top-color: orange;
  border-top-style: solid;
  border-top-width: 4px;
}

div#boxes div.row {
  width: 100%;
  clear: both;
}

div#boxes div.row div {
  margin-right: 3%;
  width: 30%;
  float: left;
  margin-top: 2em;
}

div#boxes div h1 {
  text-align: center;
}